h1,h3,h4 {
	text-align: center;
	width: 100%;
	text-transform: uppercase;
}

.sortImg {
	width: 150px;
	margin-left: 25%;
}

.btnSuccess {
	margin: 40px!important;
	padding: 20px;
	text-align: center;
	width: 100%;
}

.btnsortUp,
.btnsortDown {
	width: 100%;
	padding: 20px;
}